@import "./../../sass/utils/variables-mixin";

.rentals {
  display: grid;
  gap: 20px 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  border-radius: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 645px) {
  .rentals {
    background-color: $color-bg;
  }
}
@media screen and (min-width: 740px) {
  .rentals {
    padding: 30px;
  }
}

@media screen and (min-width: 800px) {
  .rentals {
    gap: 50px;
  }
}
@media screen and (min-width: 900px) {
  .rentals {
    padding: 50px;
  }
}
