@import "./../../sass/utils/variables-mixin";
.banner {
  margin: 0 auto 22px;
  height: 111px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgb(71, 62, 61);
  color: white;
  background-size: cover;
  background-position: center 30%;
  display: flex;
  align-items: center;

  h1 {
    margin-left: 16px;
    font-size: 24px;
    font-weight: 400;
  }
  &.img-cliff {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../assets/background_cliff-min.png");
  }
  &.img-mountain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./../../assets/background_mountain-min.png");
  }
}
.banner--height {
  height: 210px;
}
@media screen and (min-width: $desktop-min-width) {
  .banner {
    margin: 60px auto 40px;
    height: 210px;
    h1 {
      width: 100%;
      font-size: 44px;
      text-align: center;
    }
  }
}
